#goback1 {
    padding: 5px;
    margin-bottom: 10px;
    color: white; text-decoration: none; background-color: black;
    display: block;
}
#goback1:hover { color: lightblue; }

.function {
    padding: 10px;
    background: black;
    margin: 10px;
}