body { background-color: rgb(30,30,30); margin: 0;}

/* Header */
header { 
    background-color: rgb(40,40,40); 
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-areas: 'left right';
    z-index: 10;
}

header img {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    grid-area: left;
}

header h1 {
    color: rgb(200,200,200);
    padding: 5px;
    grid-area: right;
    margin-block-start: 0; margin-block-end: 0;
    margin: auto;
    margin-left: 0;
}

/* Page */
.page { display: grid; grid-template-columns: 250px auto; grid-template-areas: 'left right'; color: white; overflow: hidden; }

.panel { grid-area: left;  background-color: rgb(40,40,40); padding: 0.5rem;
}
.panel h1 {
    padding: 5px;
    background-color: rgb(30,30,30);
    font-size: 16px;
    margin-block-start: 0; margin-block-end: 0;
    margin-bottom: 10px;
}

.panel-build {
    padding: 5px;
    background-color: rgb(30,30,30);
    font-size: 16px;
}

.COMP { user-select: none; }
.COMP_SUMMARY { cursor: pointer; transition: background-color 0.1s ease-in-out; cursor: pointer; }
.COMP_SUMMARY:hover { background-color: rgb(50,50,50); }
.COMP_SECTION a { margin-left: 17.5px; text-decoration: none; display: block; }
.COMP_SECTION h3 { font-size: 14px; margin-block-start: 0; margin-block-end: 0; }

/* Maticom */
.infomat { 
    grid-area: right; 
}

.mat {
    padding: 10px;
    background-color: rgb(40,40,40);
    margin: 1rem;
}

@media only screen and (max-width: 300px) {
    header h1 { font-size: medium;}
    .page { grid-template-columns: 0px auto;}
}

.type-function { color: palevioletred;}
.type-function:hover { background-color: rgb(80, 41, 54) ;}
.type-link { color: lightblue; }
.type-link:hover { background-color: rgb(97, 122, 131) ;}